*{
    background-color:whitesmoke ;
}
.test1{
    
    background-color: violet;
}
.test{
background-color: violet;
margin-bottom: 10px;
}
h2{
    text-align: center;
}
* {
    box-sizing: border-box;
  }
.column {
    float: left;
    width: 20%;
    padding: 10px;
    margin: 10px;
    padding-left: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.test2{
    text-align: center;
    background-color: gray;
}
p{
    background-color: gray;

}
.test3{
    padding-left: 70px;
}
.test4{
    border:1px solid black;
    padding-left: 10px;   
}
#try{
    padding-bottom: -10px;
}